.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!out/sql-wasm.wasm

.history/**
.github/**
*.tmp
esbuild.mjs

tests/**
out-tests/**
tsconfig.test.json
.worktrees/**
*.vsix

